@model List<AdminLogs>
@{
    ViewData["Title"] = "AdminLogs";
}



<body>

    <h2 class="weather-title">Logs</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>email</th>
                    <th>City</th>
                    <th>temperature</th>
                    <th>data</th>
                    <th>akcja</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@data.Email</td>
                        <td>@data.City</td>
                        <td>@data.Temperature</td>
                        <td>@data.Time</td>
                        <td>@data.Action</td>

                        <td style="width: 5%">
                            <form method="post" action="/Weather/DeleteLog" onsubmit="return confirm('Are you sure you want to delete this Log?');">
                                <input type="hidden" name="Id" value="@data.Id" />
                                <button type="submit" class="btn btn-danger w-100">X</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

